@model PagedList.IPagedList<Model.EF.tbl_NhanVien>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header
{
    Danh sách nhân viên
}
@section jsFooter
{
    <script src="~/asset/admin/js/controller/nhanviencontroller.js"></script>
}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Kitchen Sink
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            @using (Html.BeginForm("Index", "NhanVien", FormMethod.Get))
            {
                <div class="row form-group">
                    <div class="col-lg-12">
                        <div class="col-md-4">
                            <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" />
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            }
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên nhân viên</th>
                            <th>Ngày sinh</th>
                            <th>Giới tính</th>
                            <th>Chức vụ</th>
                            <th>Id_Quyền</th>
                            <th>Tên tài khoản</th>
                            <th>Trạng thái</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.Id</td>
                                <td>@item.tenNV</td>
                                <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @item.NgaySinh))</td>
                                <td>@item.gioitinh</td>
                                <td>@item.ChucVu</td>
                                <td>@item.Id_Quyen</td>
                                <td>@item.UserName</td>
                                <td><a href="#" class="btn-active" data-id="@item.Id">@(item.Status ? "Kích hoạt":"Khóa")</a></td>
                                <td id="row_@item.Id">
                                    <a href="/Admin/NhanVien/Edit/@item.Id">Sửa</a>|
                                    @Ajax.ActionLink("Xóa", "Delete", new { @id = item.Id }, new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa bản ghi này?",
                                   OnComplete = "$('#row_" + @item.Id + "').remove()",
                                   HttpMethod = "Delete"
                               })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = Request.QueryString["searchString"] }));
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
