@model Model.EF.tbl_NhanVien

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header
{
    Thêm mới người dùng
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nhập thông tin nhân viên
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Create", "NhanVien", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                        @Html.LabelFor(model => model.tenNV, htmlAttributes: new { @class = " col-md-2" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.tenNV, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.tenNV, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @class = " col-md-2" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.NgaySinh, new { id = "NgaySinh", type = "date", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.gioitinh, htmlAttributes: new { @class = " col-md-2" })
                                    <div class="col-md-5">
                                        Nam @Html.RadioButtonFor(model => model.gioitinh, new { @class = "form-control" }, new { Checked = "checked" })
                                        @Html.ValidationMessageFor(model => model.gioitinh, "", new { @class = "text-danger" })
                                        Nữ @Html.RadioButtonFor(model => model.gioitinh, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.gioitinh, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ChucVu, htmlAttributes: new { @class = "col-md-2" })
                                    <div class="col-md-5">
                                        @Html.DropDownList("Chucvu", new List<SelectListItem>
                                         {
                                            new SelectListItem {Text="Giám đốc",Value="1",Selected=true },
                                            new SelectListItem {Text="Trưởng phòng",Value="2" },
                                            new SelectListItem {Text="Nhân viên",Value="3" }
                                         }, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Id_Quyen, htmlAttributes: new { @class = "col-md-2" })
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(model => model.Id_Quyen, null, new { @class = "form-control" })
                                        @*@Html.DropDownList("TenQuyen",ViewBag.TenQuyen as SelectList,new {@class= "form-control" })*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "col-md-2" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" } )
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = " col-md-2" })
                                    <div class="col-md-5">
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" } )
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                      
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-md-2" })
                                        <div class="checkbox col-md-5 ">
                                          @Html.CheckBoxFor(model=>model.Status,new { Style="margin-left:5px;"})
                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                         </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
