
<!DOCTYPE html>
<html>
<head>
    <title>Mạng xã hội âm nhạc Keeng</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/asset/client/css/reset.css">
    <link rel="stylesheet" href="~/asset/client/css/slick.css">
    <link rel="stylesheet" href="~/asset/client/css/slick-theme.css">
    <link href="~/asset/client/css/jquery.custom-scrollbar.css" rel="stylesheet" />
    <link href="~/asset/client/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/asset/client/css/trangchu.css">
    <link href="~/asset/client/css/video-js.css" rel="stylesheet" />
    <link href="~/asset/client/css/bootrap-social.css" rel="stylesheet" />
    <link href="~/asset/client/css/jquery-ui.css" rel="stylesheet" />

    <script src="~/asset/client/js/jquery-3.2.0.min.js"></script>
    <script src="~/asset/client/js/slick.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/asset/client/js/script.js"></script>
    <script src="~/asset/client/js/jquery.custom-scrollbar.js"></script>
    <script src="~/asset/client/js/bootstrap.min.js"></script>
    <script src="~/asset/client/js/video.js"></script>
    <script src="~/asset/client/js/jquery-ui.js"></script>
</head>

<body>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=444531092551120";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    @*<div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));*@

    <script>
        $(document).ready(function () {

            $(".menu a").click(function () {
                //alert(location.pathname);
                //localStorage.setItem('_NSCaseId', nsId);
                $(this).addClass('active');
            });
            $("#btnlinkRegister").click(function () {
                $(".overlay-signin").fadeToggle("fast");
            });
            $("#btnlinkLogout").click(function () {
                $.ajax({
                    type: "POST",
                    url: '/TrangChu/Logout',
                    dataType: 'json',
                    success: function (res) {
                        if (res.status == true) {
                            window.location.href = '/TrangChu/Index';
                        }
                    }
                })
            });

                    $(".close-signin").click(function () {
                        $(".overlay-signin").fadeToggle("fast");
                    });

                    $(document).keyup(function (e) {
                        if (e.keyCode == 27 && $(".overlay-signin").css("display") != "none") {
                            event.preventDefault();
                            $(".overlay-signin").fadeToggle("fast");
                        }
                    });
        });
    </script>
    <div class="header">
        <div class="container header_content">
            <div class="row">
                <div class="col-md-3">
                    <a href="http://www.nhaccuatui.com/">
                        <img src="~/asset/client/images/TieuDeKoDoi/logo_keeng.png" alt="Logo" height="55" />
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="box_search">
                        <form id="formSearchQuick"  action="/tim-kiem/Search" method="get">
                            <input id="txtSearch" type="text" name="keyword" maxlength="45" placeholder="Từ khóa tìm kiếm.." >
                            <button class="search-keeng-btn">
                                <img src="~/asset/client/images/TieuDeKoDoi/btn_search.png" height="37">
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 login_container">
                    <div style="margin-top:35px;">
                        @Html.Partial("~/Views/Shared/DangKi.cshtml")
                        @Html.Partial("~/Views/Shared/Dangnhap.cshtml")
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            @*-----------------------Menu--------------------------*@
            @{Html.RenderAction("Menu", "TrangChu");}
        </div>
    </div>
    <div class="content">
        @RenderBody()
        @RenderPage("Footer.cshtml")
        <script type="text/javascript">
        $(document).ready(function () {
            $(".regular").slick({
                dots: true,
                infinite: true,
                autoplay: true,
                speed: 500,
                dots: true
            });
        })
            
        </script>
    </div>

    @RenderSection("jsFooter", required: false)
</body>
</html>
